<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
</head>
<body>
    <form action method="post">
        <span>姓名：</span> <input type="text" name="name" placeholder="姓名:" value=""> &nbsp;
        <br>
        <span>手机号：</span> <input type="text" name="mobile" placeholder="请输入手机号:" value=""> &nbsp;
        <br>
        <span>密码：</span><input type="password" name="pwd"  placeholder="姓名" value=""> &nbsp;
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>